* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

#app .title {
    margin: 30px 0;
    line-height: 30px;
}

.container{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.dot {
    background-color: red;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}